{:highlights [{:id #uuid "6723bef6-7df5-4c1d-ac04-937ad238fd72",
               :page 1,
               :position {:bounding {:x1 99.36029556393623,
                                     :y1 176.28964233398438,
                                     :x2 149.43412521481514,
                                     :y2 187.2440948486328,
                                     :width 513,
                                     :height 725.528275959387},
                          :rects ({:x1 99.36029556393623,
                                   :y1 176.28964233398438,
                                   :x2 149.43412521481514,
                                   :y2 187.2440948486328,
                                   :width 513,
                                   :height 725.528275959387}),
                          :page 1},
               :content {:text "Aufgabe 2.1."},
               :properties {:color "green"}}
              {:id #uuid "6723bf25-1e0b-45a3-b083-52ad9f455747",
               :page 1,
               :position {:bounding {:x1 99.36029556393623,
                                     :y1 379.7257995605469,
                                     :x2 152.3096745312214,
                                     :y2 390.68023681640625,
                                     :width 513,
                                     :height 725.528275959387},
                          :rects ({:x1 99.36029556393623,
                                   :y1 379.7257995605469,
                                   :x2 152.3096745312214,
                                   :y2 390.68023681640625,
                                   :width 513,
                                   :height 725.528275959387}),
                          :page 1},
               :content {:text "Aufgabe 2.2."},
               :properties {:color "green"}}
              {:id #uuid "6723bf3d-9b22-4943-a9bb-39462c2806c2",
               :page 2,
               :position {:bounding {:x1 99.36029556393623,
                                     :y1 177.81299591064453,
                                     :x2 146.8235447704792,
                                     :y2 188.76746368408203,
                                     :width 513,
                                     :height 725.528275959387},
                          :rects ({:x1 99.36029556393623,
                                   :y1 177.81299591064453,
                                   :x2 146.8235447704792,
                                   :y2 188.76746368408203,
                                   :width 513,
                                   :height 725.528275959387}),
                          :page 2},
               :content {:text "Aufgabe 2.4"},
               :properties {:color "green"}}],
 :extra {:page 2}}
