{:highlights [{:id #uuid "6724c433-2054-4cae-a0c7-8189a8b54740",
               :page 1,
               :position {:bounding {:x1 99.36029556393623,
                                     :y1 176.87159729003906,
                                     :x2 147.0846531689167,
                                     :y2 187.8260498046875,
                                     :width 513,
                                     :height 725.528275959387},
                          :rects ({:x1 99.36029556393623,
                                   :y1 176.87159729003906,
                                   :x2 147.0846531689167,
                                   :y2 187.8260498046875,
                                   :width 513,
                                   :height 725.528275959387}),
                          :page 1},
               :content {:text "Aufgabe 1.1"},
               :properties {:color "green"}}
              {:id #uuid "6724c44b-c553-4d8f-97ed-6c5e519059a7",
               :page 4,
               :position {:bounding {:x1 99.36029556393623,
                                     :y1 210.0259246826172,
                                     :x2 149.21082809567451,
                                     :y2 220.9803924560547,
                                     :width 513,
                                     :height 725.528275959387},
                          :rects ({:x1 99.36029556393623,
                                   :y1 210.0259246826172,
                                   :x2 149.21082809567451,
                                   :y2 220.9803924560547,
                                   :width 513,
                                   :height 725.528275959387}),
                          :page 4},
               :content {:text "Aufgabe 1.3"},
               :properties {:color "green"}}],
 :extra {:page 4}}
