{:highlights [{:id #uuid "6737138c-9739-4333-8d9b-11a498e0f337",
               :page 120,
               :position {:bounding {:x1 95,
                                     :y1 309.03125,
                                     :x2 805,
                                     :y2 373.03125,
                                     :width 878,
                                     :height 1242.4806722689077},
                          :rects (),
                          :page 120},
               :content {:text "[:span]", :image 1731662728516},
               :properties {:color "green"}}
              {:id #uuid "67405657-2347-4d8b-93f5-98a6b52c836c",
               :page 47,
               :position {:bounding {:x1 93.00158432126045,
                                     :y1 565.8744506835938,
                                     :x2 327.16447189450264,
                                     :y2 579.5675048828125,
                                     :width 513,
                                     :height 725.9596638655463},
                          :rects ({:x1 93.00158432126045,
                                   :y1 565.8744506835938,
                                   :x2 327.16447189450264,
                                   :y2 579.5675048828125,
                                   :width 513,
                                   :height 725.9596638655463}),
                          :page 47},
               :content {:text "Grenzﬂäche zu ideal leitfähigem Metall"},
               :properties {:color "green"}}
              {:id #uuid "6740c51b-b09e-4b73-b018-e2d77efe468b",
               :page 40,
               :position {:bounding {:x1 62.06381347775459,
                                     :y1 99.1549072265625,
                                     :x2 453.09476974606514,
                                     :y2 122.70697021484375,
                                     :width 513,
                                     :height 725.9596638655463},
                          :rects ({:x1 255.13500717282295,
                                   :y1 99.1549072265625,
                                   :x2 453.09476974606514,
                                   :y2 110.65707397460938,
                                   :width 513,
                                   :height 725.9596638655463}
                                  {:x1 62.06381347775459,
                                   :y1 111.20480346679688,
                                   :x2 316.2147381603718,
                                   :y2 122.70697021484375,
                                   :width 513,
                                   :height 725.9596638655463}),
                          :page 40},
               :content {:text " der Erweiterung auf verlustbehaftete Medien wird der Feldwellenwiderstand einer HEW komplexwertig"},
               :properties {:color "green"}}
              {:id #uuid "67459414-cc15-4ce4-be2d-77b9db927f8b",
               :page 33,
               :position {:bounding {:x1 62.06381347775459,
                                     :y1 82.64620971679688,
                                     :x2 246.42358520627022,
                                     :y2 91.95748901367188,
                                     :width 513,
                                     :height 725.9596638655463},
                          :rects ({:x1 62.06381347775459,
                                   :y1 82.64620971679688,
                                   :x2 246.42358520627022,
                                   :y2 91.95748901367188,
                                   :width 513,
                                   :height 725.9596638655463}),
                          :page 33},
               :content {:text "Ellipitische Polarisation (allgemeine Form)"},
               :properties {:color "green"}}
              {:id #uuid "674594a5-fb6a-4ebb-89dd-80b6f7e96ed2",
               :page 33,
               :position {:bounding {:x1 78.86279800534248,
                                     :y1 152.14706420898438,
                                     :x2 375.2498600780964,
                                     :y2 163.64923095703125,
                                     :width 513,
                                     :height 725.9596638655463},
                          :rects ({:x1 78.86279800534248,
                                   :y1 152.14706420898438,
                                   :x2 375.2498600780964,
                                   :y2 163.64923095703125,
                                   :width 513,
                                   :height 725.9596638655463}),
                          :page 33},
               :content {:text "Die Momentanwerte sind (willkürliche Annahme über die Phase ψ)"},
               :properties {:color "green"}}
              {:id #uuid "6745a044-ba2d-4aa3-a3a1-ed0e93ce2b01",
               :page 21,
               :position {:bounding {:x1 97.40903496742249,
                                     :y1 63.724090576171875,
                                     :x2 375.2979815006256,
                                     :y2 75.22628784179688,
                                     :width 513,
                                     :height 725.9596638655463},
                          :rects ({:x1 97.40903496742249,
                                   :y1 63.724090576171875,
                                   :x2 375.2979815006256,
                                   :y2 75.22628784179688,
                                   :width 513,
                                   :height 725.9596638655463}),
                          :page 21},
               :content {:text "Grenzﬂäche zwischen Dielektrikum und idealem Leiter"},
               :properties {:color "green"}}
              {:id #uuid "6745f002-178c-48da-aada-e68861acbbc2",
               :page 28,
               :position {:bounding {:x1 104.1171875,
                                     :y1 599.4765625,
                                     :x2 396.5264892578125,
                                     :y2 614.9765625,
                                     :width 681,
                                     :height 963.7008403361344},
                          :rects ({:x1 104.1171875,
                                   :y1 599.4765625,
                                   :x2 396.5264892578125,
                                   :y2 614.9765625,
                                   :width 681,
                                   :height 963.7008403361344}),
                          :page 28},
               :content {:text "eindimensionale homogene Wellengleichung"},
               :properties {:color "green"}}
              {:id #uuid "674b6434-58f7-44a3-b43b-601434f2dbaf",
               :page 73,
               :position {:bounding {:x1 80,
                                     :y1 668,
                                     :x2 604,
                                     :y2 711,
                                     :width 669,
                                     :height 946.7193277310924},
                          :rects (),
                          :page 73},
               :content {:text "[:span]", :image 1732994097268},
               :properties {:color "yellow"}}
              {:id #uuid "674ec847-fd7d-4084-915e-8421e8671ad5",
               :page 85,
               :position {:bounding {:x1 79.4921875,
                                     :y1 470.09375,
                                     :x2 580.2832641601562,
                                     :y2 500.6171875,
                                     :width 657,
                                     :height 929.7378151260505},
                          :rects ({:x1 112.8937759399414,
                                   :y1 470.09375,
                                   :x2 402.5,
                                   :y2 485.09375,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 413.25,
                                   :y1 470.09375,
                                   :x2 485.3671875,
                                   :y2 485.09375,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 503.78125,
                                   :y1 470.09375,
                                   :x2 540.8828125,
                                   :y2 485.09375,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 561.53125,
                                   :y1 470.09375,
                                   :x2 580.2832641601562,
                                   :y2 485.09375,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 401.6171875,
                                   :y1 475.671875,
                                   :x2 411.03125,
                                   :y2 485.671875,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 486.1796875,
                                   :y1 475.671875,
                                   :x2 501.6953125,
                                   :y2 485.671875,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 541.6953125,
                                   :y1 475.671875,
                                   :x2 559.4453125,
                                   :y2 485.671875,
                                   :width 657,
                                   :height 929.7378151260505}
                                  {:x1 79.4921875,
                                   :y1 485.6171875,
                                   :x2 196.12283325195312,
                                   :y2 500.6171875,
                                   :width 657,
                                   :height 929.7378151260505}),
                          :page 85},
               :content {:text "Der rechte Faktor in (7.28) wird Reﬂexionsfaktor ρA (entspricht ΓTE bzw. ΓTM aus Kapitel 4.1) genannt"},
               :properties {:color "green"}}
              {:id #uuid "67500928-2cd7-4736-974a-ac900c32e971",
               :page 82,
               :position {:bounding {:x1 76,
                                     :y1 529,
                                     :x2 576,
                                     :y2 573,
                                     :width 645.0000000000001,
                                     :height 912.7563025210085},
                          :rects (),
                          :page 82},
               :content {:text "[:span]", :image 1733298470318},
               :properties {:color "green"}}
              {:id #uuid "67508335-6d86-4e15-a41a-550561c07696",
               :page 88,
               :position {:bounding {:x1 119.984375,
                                     :y1 762.609375,
                                     :x2 875.9805908203125,
                                     :y2 809.8203125,
                                     :width 991.6666666666666,
                                     :height 1403.3333333333333},
                          :rects ({:x1 578.6991577148438,
                                   :y1 762.609375,
                                   :x2 875.9805908203125,
                                   :y2 784.609375,
                                   :width 991.6666666666666,
                                   :height 1403.3333333333333}
                                  {:x1 119.984375,
                                   :y1 785.90625,
                                   :x2 133.28125,
                                   :y2 807.90625,
                                   :width 991.6666666666666,
                                   :height 1403.3333333333333}
                                  {:x1 166,
                                   :y1 785.90625,
                                   :x2 231.46249389648438,
                                   :y2 807.90625,
                                   :width 991.6666666666666,
                                   :height 1403.3333333333333}
                                  {:x1 134.3671875,
                                   :y1 794.8203125,
                                   :x2 163.3515625,
                                   :y2 809.8203125,
                                   :width 991.6666666666666,
                                   :height 1403.3333333333333}),
                          :page 88},
               :content {:text "Der Ansatz für TEz -Wellen (also Ez1,2 ≡ 0) ist"},
               :properties {:color "green"}}
              {:id #uuid "675090f8-65ba-412b-8543-a560d7644e48",
               :page 88,
               :position {:bounding {:x1 122.5,
                                     :y1 814,
                                     :x2 878.5,
                                     :y2 904,
                                     :width 991.6666666666666,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 88},
               :content {:text "[:span]", :image 1733333238416},
               :properties {:color "green"}}
              {:id #uuid "67517642-4ec8-4409-ade6-cc8d78118a1e",
               :page 88,
               :position {:bounding {:x1 124,
                                     :y1 1212,
                                     :x2 894,
                                     :y2 1308,
                                     :width 991.6666666666666,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 88},
               :content {:text "[:span]", :image 1733391936468},
               :properties {:color "green"}}
              {:id #uuid "6751d667-3181-4b73-87e6-9e864f549a9c",
               :page 18,
               :position {:bounding {:x1 123,
                                     :y1 1148,
                                     :x2 875,
                                     :y2 1205,
                                     :width 991.6666666666666,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 18},
               :content {:text "[:span]", :image 1733416549997},
               :properties {:color "green"}}
              {:id #uuid "6751d67e-65ca-4200-97c6-6e1dbfc841a2",
               :page 19,
               :position {:bounding {:x1 123,
                                     :y1 868,
                                     :x2 876,
                                     :y2 922,
                                     :width 991.6666666666666,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 19},
               :content {:text "[:span]", :image 1733416571149},
               :properties {:color "green"}}
              {:id #uuid "675330c9-5692-476c-ab43-c0f8c7614a54",
               :page 91,
               :position {:bounding {:x1 258,
                                     :y1 585,
                                     :x2 756,
                                     :y2 959,
                                     :width 991.6666666666666,
                                     :height 1403.3333333333333},
                          :rects (),
                          :page 91},
               :content {:text "[:span]", :image 1733505222917},
               :properties {:color "green"}}],
 :extra {:page 88}}
